@import 'variables';

#about {
  background: #e6e6e6;
  height: 1500px;
  h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0;
  }
  p {
    padding: 10px;
    max-width: 465px;
  }
}