@import 'variables';

#about {
  background: $about-grey;
  color: $white;
  h2 {
    @include sectionH2;
  }
}

.who-am-i-section {
  padding-bottom: 20px;
  p {
    padding: 10px 15px 20px 15px;
    max-width: 630px;
  }
}

.skills-section {
  padding-bottom: 20px;
  background: $skills-grey;
}

.skills-block {
  width: 85%;
  max-width: 300px;
  margin: 10px auto;
  padding: 0 10px 20px 10px;
  h4 {
    font-size: 1.2em;
    padding: 10px 0 15px 0;
  }
  .inner-skills {
    float: right;
    width: 50%;
  }
}

.skill-image {
  width: 80px;
  padding: 15px 18px;
  background: $skills-svg-bg;
  border-radius: 28px;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 568px) {
  .skills-block {
    display: inline-block;
    width: 45%;
    text-align: center;
  }
  .inner-skills {
    padding-left: 8px;
    text-align: left;
  }
}
@media screen and (min-width: 680px) {
  .who-am-i-section {
    height: 220px;
    p {
      display: inline-block;
      width: 47%;
      padding: 10px 0 20px 18px;
      vertical-align: top;
    }
  }
  .skills-block {
    max-width: 425px;
  }
  .skill-image {
    width: 100px;
  }
}
@media screen and (min-width: 960px) {
  .skills-wrapper {
    max-width: 945px;
    margin: 0 auto;
    text-align: center;
  }
}