@import 'variables';


#footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;
  .footer-icon {
    width: 50px;
    height: 50px;
    margin: 35px 10px 0 10px;
  }
  .github {
    background: transparent url(../images/github.svg) no-repeat 8px 8px / 40px;
    &:hover {
      background: transparent url(../images/github_hover.svg) no-repeat 8px 8px / 40px;
    }
  }
  .linkedin {
    background: transparent url(../images/linkedin.svg) no-repeat 8px 8px / 40px;
    &:hover {
      background: transparent url(../images/linkedin_hover.svg) no-repeat 8px 8px / 40px;
    }
  }
  .twitter {
    background: transparent url(../images/twitter.svg) no-repeat 8px 8px / 40px;
    &:hover {
      background: transparent url(../images/twitter_hover.svg) no-repeat 8px 8px / 40px;
    }
  }
  .email {
    background: transparent url(../images/email_open.svg) no-repeat 8px 8px / 40px;
    &:hover {
      background: transparent url(../images/email_closed.svg) no-repeat 8px 8px / 40px;
    }
  }
  .footer-tag {
    position: absolute;
    bottom: 25px;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
  }
}

#scroll-top-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px auto 0 auto;
  border: none;
  transform: rotate(180deg);
  cursor: pointer;
  background: $button-svg;
  &:focus {
    outline: none;
  }
}
