body {
  background: aqua;
}

.main-header-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#main-header {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  color: #FFF;
  text-align: center;
}

#main-header h1 {
  font-size: 2em;
}

#main-header h2 {
  font-size: 0.8em;
}

#main-macbook-img {
  display: block;
  width: 100%;
  max-width: 650px;
  margin: 30px auto 0 auto;
}
