@import 'variables';

#about {
  .skills-wrapper {
    h3 {
      @include section-header3;
    }

    .skill-block {
      margin: 12px 0;
    }

    .each-skill {
      &:after {
        content: ', ';
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}
