@import 'variables';

#about {
  .skills-wrapper {
    h3 {
      @include section-header3;
      color: $neon-blue;
    }

    .skill-block {
      margin: 0.75rem 0;
    }

    .each-skill {
      &:after {
        content: ', ';
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }

  /*MEDIA QUERIES*/
  @media screen and (min-width: $tablet-breakpoint) {
    .skills-wrapper {
      h3 {
        font-size: 1.1rem;
      }
    }
  }
}
