@import 'variables';

.error {
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    transform: translateY(-50%) skew(0, -5deg);
  }

  h4 {
    margin: 15px 0 25px;
    font-family: $neon-glow;
    font-size: 1.2rem;
    color: $neon-bulb-white;
    text-shadow: $neon-pink-title-glow;
  }

  button {
    padding: 10px 20px;
    background: transparent;
    font-family: $neon-glow;
    color: $neon-bulb-white;
    font-size: 1rem;
    text-shadow: $neon-cyan-title-glow;
    border: 3px solid $neon-bulb-white;
    border-radius: 1rem;
    box-shadow: $neon-cyan-border-glow;
    cursor: pointer;
  }

  /*MEDIA QUERIES*/
  @media screen and (min-width: $plus-mobile-breakpoint) {
    h4 {
      font-size: 1.6em;
    }

    button {
      font-size: 1.4rem;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    h4 {
      font-size: 2em;
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    h4 {
      font-size: 2.4em;
    }
  }
}
