@import 'variables';

#footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;

  .anchor {
    width: 40px;
    height: 40px;
    margin: 35px 10px 0 10px;
    transition: background 250ms;

    &.github {
      @include footer-icon('../images/github.svg');
      &:hover {
        @include footer-icon('../images/github_hover.svg');
      }
    }

    &.linkedin {
      @include footer-icon('../images/linkedin.svg');
      &:hover {
        @include footer-icon('../images/linkedin_hover.svg');
      }
    }

    &.twitter {
      @include footer-icon('../images/twitter.svg');
      &:hover {
        @include footer-icon('../images/twitter_hover.svg');
      }
    }

    &.email {
      @include footer-icon('../images/email.svg');
      &:hover {
        @include footer-icon('../images/email_hover.svg');
      }
    }
  }
  .footer-tag {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 0.8em;
    color: $neon-bulb-white;
  }
}
