@import 'variables';

.neon-content-wrapper {
  line-height: 1.1rem;
  max-width: 630px;
  position: relative;
  padding: 20px 16px;
  margin: 0 auto 40px;
  border-radius: 1rem;
  box-shadow: $border-off-shadow;

  &.cyan {
    border: 3px solid $neon-cyan-off;
  }

  &.pink {
    border: 3px solid $neon-pink-off;
  }

  &.lights-on {
    border: 3px solid $neon-bulb-white;

    &.cyan {
      box-shadow: $neon-cyan-border-glow;
    }

    &.pink {
      box-shadow: $neon-pink-border-glow;
    }
  }

  /*MEDIA QUERIES*/
  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
