@import 'variables';

.sub-header {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  color: $neon-cyan-off;
  background: $backround-black;
  text-shadow: $text-off-shadow;
  font-family: $neon-glow;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-left: 3px solid $neon-cyan-off;
  border-right: 3px solid $neon-cyan-off;

  &.lights-on {
    color: $neon-bulb-white;
    text-shadow: $neon-cyan-title-glow;
    border-left: 3px solid $neon-bulb-white;
    border-right: 3px solid $neon-bulb-white;
    box-shadow: $neon-subheader-cyan-glow;
  }

  /*MEDIA QUERIES*/
  @media screen and (min-width: $plus-mobile-breakpoint) {
    font-size: 1.4rem;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 1.5rem;
  }
}
