@import 'variables';
@include flicker-mixin(text-flicker, text-shadow, color, $neon-pink-title-glow);
@include flicker-mixin(border-flicker, box-shadow, border-color, $neon-cyan-border-glow);

#neon-title {
  display: flex;
  justify-content: center;
  font-family: $neon-glow;
  margin: 80px auto;
  padding: 45px 0px;
  border: 5px solid $neon-cyan-off;
  width: fit-content;
  border-radius: 50%;
  box-shadow: $border-off-shadow;

  h1 {
    font-size: 4em;
    color: $neon-pink-off;
    text-align: center;
    text-shadow: $text-off-shadow;
  }

  &.lights-on {
    border: 5px solid $neon-bulb-white;
    box-shadow: $neon-cyan-border-glow;
    animation: border-flicker step-end infinite 10s;

    h1 {
      color: $neon-bulb-white;
      text-shadow: $neon-pink-title-glow;

      .flicker {
        animation: text-flicker step-end infinite 5s;
      }
    }
  }

  /*MEDIA QUERIES*/
  @media screen and (min-width: $plus-mobile-breakpoint) {
    padding: 55px 0px;
    h1 {
      font-size: 5em;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    padding: 60px 0px;
    h1 {
      font-size: 6em;
    }
  }
}
