@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
  font-family: NeonGlow;
  src: url('../fonts/neon_glow_light.woff') format('woff'),
    url('../fonts//neon_glow_light.ttf') format('truetype');
}

$neon-glow: NeonGlow, sans-serif;
$body-font-lato: 'Lato', sans-serif;

// colors
$black: #000000;
$backround-black: #161616;

$neon-blue: #1569e0;
$neon-cyan: #48a3f1;
$neon-cyan-bright: #77d8fe;
$neon-cyan-off: #8da5eb;

$neon-pink: #ce00ce;
$neon-pink-bright: #f813f5;
$neon-pink-off: #a888ad;

$neon-grey: #a1b9b8;
$neon-bulb-white: #fffffe;
$neon-bulb-shadow: #333333;

// Media Breakpoints
$mobile-breakpoint: 420px;
$plus-mobile-breakpoint: 568px;
$tablet-breakpoint: 768px;
$desktop-breakpoints: 1280px;
$xl-breakpoint: 1440px;

// toggle sizing
$toggle-height: 24px;
$toggle-width: 40px;
$border-width: 2px;
$toggle-btn-size: calc(#{$toggle-height} - #{$border-width * 2});

// neon colors / shadows
$neon-cyan-border-glow: inset 0 0 3px $neon-cyan, inset 0 0 8px $neon-cyan,
  inset 0 0 16px $neon-cyan, 0 0 3px $neon-cyan, 0 0 8px $neon-cyan, 0 0 16px $neon-cyan,
  -3px 3px 3px $neon-cyan-bright;

$neon-cyan-title-glow: 0 0 16px $neon-cyan, 0 0 8px $neon-cyan, 0 0 3px $neon-cyan,
  -1px 1px 1px $neon-cyan-bright;

$neon-subheader-cyan-glow: 0 -6px $backround-black, 0 6px $backround-black,
  -2px 0 4px 0px $neon-cyan, 2px 0px 4px 0px $neon-cyan;

$neon-pink-border-glow: inset 0 0 3px $neon-pink, inset 0 0 8px $neon-pink,
  inset 0 0 16px $neon-pink, 0 0 3px $neon-pink, 0 0 8px $neon-pink, 0 0 16px $neon-pink,
  -3px 3px 3px $neon-pink-bright;

$neon-pink-title-glow: 0 0 16px $neon-pink, 0 0 8px $neon-pink, 0 0 3px $neon-pink,
  -3px 3px 3px $neon-pink-bright;

$neon-subheader-pink-glow: 0 -6px $backround-black, 0 6px $backround-black,
  -2px 0 4px 0px $neon-pink, 2px 0px 4px 0px $neon-pink;

$border-off-shadow: -4px 3px 2px 0px $backround-black, -8px 7px 2px 0px $black,
  inset -4px 3px 2px 0px $backround-black, inset -8px 7px 2px 0px $black;

$text-off-shadow: -4px 4px 2px $black;

@mixin footer-icon($img-url) {
  background: transparent url(#{$img-url}) no-repeat 8px / 30px;
  background-position: center;
}

@mixin section-header3 {
  color: $neon-grey;
  font-size: 1rem;
  font-weight: bold;
}

@mixin flicker-mixin($name, $shadow-type, $color-type, $shadow-color) {
  @keyframes #{$name} {
    20% {
      #{$shadow-type}: none;
    }
    21% {
      #{$shadow-type}: $shadow-color;
    }
    50% {
      #{$shadow-type}: none;
    }
    51% {
      #{$shadow-type}: $shadow-color;
    }
    51.5% {
      #{$shadow-type}: none;
    }
    52% {
      #{$shadow-type}: $shadow-color;
    }
    89% {
      #{$color-type}: $neon-bulb-shadow;
      #{$shadow-type}: none;
    }
    91% {
      #{$color-type}: $neon-bulb-white;
      #{$shadow-type}: $shadow-color;
    }
    92% {
      #{$color-type}: $neon-bulb-shadow;
      #{$shadow-type}: none;
    }
    92.5% {
      #{$color-type}: $neon-bulb-white;
      #{$shadow-type}: $shadow-color;
    }
    99% {
      #{$color-type}: $neon-bulb-shadow;
      #{$shadow-type}: none;
    }
    99.5% {
      #{$color-type}: $neon-bulb-white;
      #{$shadow-type}: $shadow-color;
    }
  }
}
